<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/Register" method="POST" id="signupForm" name="signupForm">
        <label>Username:</label>
        <input type="text" name="username" placeholder="username">
        <label>Email:</label>
        <input type="text" name="email" placeholder="email">
        <label>Password:</label>
        <input type="text" name="password" placeholder="password">
        <label>Image:</label>
        <input type="text" name="image" placeholder="image">
        <input type="submit">
    </form>
</body>
<script>
/*var formData = JSON.stringify($("#signupForm").serializeArray());
$.ajax({
  type: "POST",
  url: "/Register",//"serverUrl",
  data: formData,
  success: function(){},
  dataType: "json",
  contentType : "application/json"
});*/
<script>
</html>